@font-face {
  font-weight: 900;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-ExtraBlack.woff");
}
@font-face {
  font-weight: 900;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-ExtraBlack.woff2");
}

@font-face {
  font-weight: 900;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-ExtraBlackItalic.woff");
}
@font-face {
  font-weight: 900;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-ExtraBlackItalic.woff2");
}

@font-face {
  font-weight: 800;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-Black.woff");
}
@font-face {
  font-weight: 800;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-Black.woff2");
}

@font-face {
  font-weight: 800;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-BlackItalic.woff");
}
@font-face {
  font-weight: 800;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-BlackItalic.woff2");
}

@font-face {
  font-weight: 700;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-Bold.woff");
}
@font-face {
  font-weight: 700;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-Bold.woff2");
}

@font-face {
  font-weight: 700;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-BoldItalic.woff");
}
@font-face {
  font-weight: 700;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-BoldItalic.woff2");
}

@font-face {
  font-weight: 600;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-Book.woff");
}
@font-face {
  font-weight: 600;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-Book.woff2");
}

@font-face {
  font-weight: 600;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-BookItalic.woff");
}
@font-face {
  font-weight: 600;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-BookItalic.woff2");
}

@font-face {
  font-weight: 500;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-Medium.woff");
}
@font-face {
  font-weight: 500;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-Medium.woff2");
}

@font-face {
  font-weight: 500;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-MediumItalic.woff");
}
@font-face {
  font-weight: 500;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-MediumItalic.woff2");
}

@font-face {
  font-weight: 400;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-Regular.woff");
}
@font-face {
  font-weight: 400;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-Regular.woff2");
}

@font-face {
  font-weight: 400;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-Italic.woff");
}
@font-face {
  font-weight: 400;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXSub-Italic.woff2");
}

@font-face {
  font-weight: 300;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXWeb-Light.woff");
}
@font-face {
  font-weight: 300;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXWeb-Light.woff2");
}

@font-face {
  font-weight: 300;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXWeb-LightItalic.woff");
}
@font-face {
  font-weight: 300;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXWeb-LightItalic.woff2");
}

@font-face {
  font-weight: 200;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXWeb-Thin.woff");
}
@font-face {
  font-weight: 200;
  font-family: "CircularXXSub";
  font-style: normal;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXWeb-Thin.woff2");
}

@font-face {
  font-weight: 200;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXWeb-ThinItalic.woff");
}
@font-face {
  font-weight: 200;
  font-family: "CircularXXSub";
  font-style: italic;
  src: url("#{$path-fonts}/CircularXXSub/CircularXXWeb-ThinItalic.woff2");
}
